<header>
    <div class="web">
        <nav>
        <img class="logo" src="/images/pngwing.com2.png" alt="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://raw.githack.com/RohithAkshay/My-Protfolio/main/portfolio.html" name="My-Protfolio">Portfolio</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>   
    </div>    
</header>
<script>
    function openmenu() {
        document.querySelector('nav ul').style.right = '0';
    }
    function closemenu() {
        document.querySelector('nav ul').style.right = '-200px';
    }
</script>