<!DOCTYPE html>
<html lang="eg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Creation</title>
</head>
<body>

<%- include("partials/header.ejs") %>
<main class="container">

<h2>Contact Me</h2>
<form>
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea name="message" class="feedback-input" placeholder="Your Message"></textarea>
  <input class="submit" type="submit" value="SUBMIT" />
</form>
</main>
<footer style="display: flex; margin-top: 5%;justify-content: center;margin-bottom: 0%;" class="about-footer">
  <p>Inhale. Exhale. Breathe. Feel.</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
